@charset "UTF-8";

body{
    background-color: #EBE0D3;
}

.completion{
    text-align: center;
    margin:100px auto 0 auto;
    font-size: 64px;
    color: #4A3E31;
}
.img_1{
    display: block;
    margin: 0 auto;
}
